In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
with open('inputs/extra_bucket.txt', 'r') as f:
    text = f.read()

In [3]:
lines = text.split("\n")

In [4]:
filtered_array = [element for element in lines if "Late Orders" in element]
filtered_array = list(filter(lambda x: ("Late Orders" in x or "On Time Orders" in x) and "Private Label" not in x, lines))
filtered_array

['Late Orders                                     371  Infinite',
 'On Time Orders                                  927  Infinite',
 'Late Orders                                     467  Infinite',
 'On Time Orders                                  806  Infinite',
 'Late Orders                                     633  Infinite',
 'On Time Orders                                  642  Infinite',
 'Late Orders                                     576  Infinite',
 'On Time Orders                                  703  Infinite',
 'Late Orders                                     113  Infinite',
 'On Time Orders                                 1202  Infinite']

In [ ]:
order_data = [re.split(r'\s{2,}', elem.strip())[:2] for elem in filtered_array]

df = pd.DataFrame(order_data, columns=["Order Type", "Count"])
df['Count'] = df['Count'].astype(int)
df

       Order Type  Count
0     Late Orders    371
1  On Time Orders    927
2     Late Orders    467
3  On Time Orders    806
4     Late Orders    633
5  On Time Orders    642
6     Late Orders    576
7  On Time Orders    703
8     Late Orders    113
9  On Time Orders   1202

In [24]:
df_even = df.iloc[::2].reset_index(drop=True)
df_odd = df.iloc[1::2].reset_index(drop=True)
df_merge = pd.concat([df_even, df_odd], axis=1)
df_merge = df_merge.rename(columns={'Order Type': 'Late', 'Count': 'OT_Count'})
new_columns = ['Late', 'Late_Count', 'On_Time', 'OT_Count']

# rename the columns using the new list of column names
df_merge.columns = new_columns
df_merge

          Late  Late_Count         On_Time  OT_Count
0  Late Orders         371  On Time Orders       927
1  Late Orders         467  On Time Orders       806
2  Late Orders         633  On Time Orders       642
3  Late Orders         576  On Time Orders       703
4  Late Orders         113  On Time Orders      1202

In [26]:
df_merge["Sum"] = df_merge["Late_Count"] + df_merge["OT_Count"]
df_merge["OT_Percent"] = df_merge["OT_Count"] / df_merge["Sum"]
df_merge

,Late,Late_Count,On_Time,OT_Count,Sum,OT_Ratio,OT_Percent
0,Late Orders,371,On Time Orders,927,1298,0.714176,0.714176
1,Late Orders,467,On Time Orders,806,1273,0.633150,0.633150
2,Late Orders,633,On Time Orders,642,1275,0.503529,0.503529
3,Late Orders,576,On Time Orders,703,1279,0.549648,0.549648
4,Late Orders,113,On Time Orders,1202,1315,0.914068,0.914068

In [34]:
on_time_avg = df_merge['OT_Percent'].mean()
on_time_avg = on_time_avg = round(on_time_avg, 4)
on_time_avg

0.6629